@font-face {
  font-family: "zkmIcon"; /* Project id 4413132 */
  src: url('iconfont.woff2?t=1705394550674') format('woff2'),
       url('iconfont.woff?t=1705394550674') format('woff'),
       url('iconfont.ttf?t=1705394550674') format('truetype');
}

.zkmIcon {
  font-family: "zkmIcon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zkmp-chexiao:before {
  content: "\e704";
}

.zkmp-houtui:before {
  content: "\e70c";
}

.zkmp-duitou:before {
  content: "\e709";
}

.zkmp-putongjizhanxiaoguo:before {
  content: "\e717";
}

.zkmp-dingweijizhan:before {
  content: "\e715";
}

.zkmp-gangbi:before {
  content: "\e70b";
}

.zkmp-bianqianghuojia:before {
  content: "\e6fc";
}

.zkmp-shuangcehuojia:before {
  content: "\e713";
}

.zkmp-zhantaizhuo:before {
  content: "\e712";
}

.zkmp-wenbenbiaoqian:before {
  content: "\e70e";
}

.zkmp-guishihuojia:before {
  content: "\e710";
}

.zkmp-tupian:before {
  content: "\e708";
}

.zkmp-shouyinhuojia:before {
  content: "\e706";
}

.zkmp-dancehuojia:before {
  content: "\e705";
}

.zkmp-lengcangshihuojia:before {
  content: "\e702";
}

.zkmp-juxing:before {
  content: "\e6fd";
}

.zkmp-dibuduiqi:before {
  content: "\e71d";
}

.zkmp-dingbuduiqi:before {
  content: "\e714";
}

.zkmp-zuoyoujuzhong:before {
  content: "\e71a";
}

.zkmp-zuoduiqi:before {
  content: "\e71b";
}

.zkmp-shangxiajuzhong:before {
  content: "\e70d";
}

.zkmp-youduiqi:before {
  content: "\e6fe";
}

.zkmp-baocun:before {
  content: "\e707";
}

.zkmp-fanhui:before {
  content: "\e71c";
}

.zkmp-dizhi:before {
  content: "\e70f";
}

.zkmp-yulan:before {
  content: "\e701";
}

