@font-face {
  font-family: "zknicon"; /* Project id 3410543 */
  src: url('iconfont.woff2?t=1680941858964') format('woff2'),
       url('iconfont.woff?t=1680941858964') format('woff'),
       url('iconfont.ttf?t=1680941858964') format('truetype');
}

.zknicon {
  font-family: "zknicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zknicon-youxia:before {
  content: "\e601";
}

.zknicon-xiaoshuxiabiao:before {
  content: "\e6ba";
}

.zknicon-jiageshangfang:before {
  content: "\e6bc";
}

.zknicon-xiaoshushangbiao:before {
  content: "\e6be";
}

.zknicon-jiagexiafang:before {
  content: "\e6bf";
}

.zknicon-dibuduiqi1:before {
  content: "\e6b5";
}

.zknicon-zhongjianduiqi:before {
  content: "\e6b6";
}

.zknicon-dingbuduiqi:before {
  content: "\e6b7";
}

.zknicon-shangxiajuzhongduiqi:before {
  content: "\e615";
}

.zknicon-juxiaduiqi:before {
  content: "\e616";
}

.zknicon-jushangduiqi:before {
  content: "\e61b";
}

.zknicon-a-ziyuan26:before {
  content: "\e66d";
}

.zknicon-shuzi2:before {
  content: "\e614";
}

.zknicon-beijingyanse:before {
  content: "\e63d";
}

.zknicon-wenziyanse:before {
  content: "\e767";
}

.zknicon-yanjing:before {
  content: "\e6cf";
}

.zknicon-yanjing1:before {
  content: "\e6d1";
}

.zknicon-zhankai:before {
  content: "\e602";
}

.zknicon-shousuo:before {
  content: "\e613";
}

.zknicon-tuichu:before {
  content: "\e652";
}

.zknicon-tuichu1:before {
  content: "\e600";
}

.zknicon-yifuhuanfu:before {
  content: "\e6e0";
}

.zknicon-shanchu:before {
  content: "\e74b";
}

.zknicon-icon_fabu:before {
  content: "\eb88";
}

.zknicon-biaoqian:before {
  content: "\e656";
}

.zknicon-bianji:before {
  content: "\e8ac";
}

.zknicon-juxing1:before {
  content: "\e629";
}

.zknicon-yuanjiaojuxing:before {
  content: "\e63f";
}

.zknicon-zhuashou:before {
  content: "\e64e";
}

.zknicon-yulan:before {
  content: "\e679";
}

.zknicon-fabu:before {
  content: "\e642";
}

.zknicon-suoxiao:before {
  content: "\e611";
}

.zknicon-fangda:before {
  content: "\e612";
}

.zknicon-xuanze:before {
  content: "\e6bd";
}

.zknicon-jiacu:before {
  content: "\e608";
}

.zknicon-qingxie:before {
  content: "\e609";
}

.zknicon-shanchuxian:before {
  content: "\e60a";
}

.zknicon-youduiqi:before {
  content: "\e60b";
}

.zknicon-zhongduiqi:before {
  content: "\e60c";
}

.zknicon-zuoduiqi:before {
  content: "\e60d";
}

.zknicon-iconfontchexiao1:before {
  content: "\e618";
}

.zknicon-iconfontchexiao:before {
  content: "\e619";
}

.zknicon-iconfontfuzhi:before {
  content: "\e61a";
}

.zknicon-iconfontshanchu:before {
  content: "\e61d";
}

.zknicon-iconfontwenzi:before {
  content: "\e625";
}

.zknicon-chuizhijuzhongduiqi:before {
  content: "\e654";
}

.zknicon-chuizhijunfen:before {
  content: "\e655";
}

.zknicon-shangduiqi:before {
  content: "\e657";
}

.zknicon-shuipingjuzhongduiqi:before {
  content: "\e658";
}

.zknicon-shuipingjunfen:before {
  content: "\e659";
}

.zknicon-xiaduiqi:before {
  content: "\e65a";
}

.zknicon-youduiqi1:before {
  content: "\e65b";
}

.zknicon-zuoduiqi1:before {
  content: "\e65c";
}

.zknicon-twenbenkuang:before {
  content: "\e7b8";
}

.zknicon-shuzi:before {
  content: "\e660";
}

.zknicon-weibiaoti545:before {
  content: "\e631";
}

.zknicon-weibiaoti546:before {
  content: "\e632";
}

.zknicon-figure:before {
  content: "\e6cd";
}

.zknicon-shijian:before {
  content: "\e638";
}

.zknicon-erweima:before {
  content: "\e745";
}

.zknicon-underline:before {
  content: "\e72b";
}

.zknicon-tupian:before {
  content: "\e606";
}

.zknicon-dingceng:before {
  content: "\e648";
}

.zknicon-diceng:before {
  content: "\e649";
}

.zknicon-shangyiyiceng:before {
  content: "\e64a";
}

.zknicon-xiayiyiceng:before {
  content: "\e64b";
}

.zknicon-tiaoxingma:before {
  content: "\e626";
}

.zknicon-zuoshangcopy:before {
  content: "\e74e";
}

.zknicon-ziyuan:before {
  content: "\e60e";
}

.zknicon-kejian:before {
  content: "\e73c";
}

.zknicon-fuzhi:before {
  content: "\e66b";
}

.zknicon-baocun:before {
  content: "\e936";
}

.zknicon-html-:before {
  content: "\e646";
}

.zknicon-tupian1:before {
  content: "\e61e";
}

.zknicon-tuoyuanxing:before {
  content: "\e790";
}

.zknicon-shubiaoshou:before {
  content: "\e6e1";
}

.zknicon-shipin:before {
  content: "\e62d";
}

.zknicon-yinpin:before {
  content: "\e633";
}

.zknicon-yinle:before {
  content: "\e667";
}

.zknicon-tianjiapcmoban:before {
  content: "\e66e";
}

.zknicon-jiagebiao:before {
  content: "\e60f";
}

.zknicon-juxing:before {
  content: "\e620";
}

.zknicon-icon-test-copy:before {
  content: "\e64c";
}

.zknicon-xitongwangyeduan:before {
  content: "\e65d";
}

.zknicon-table:before {
  content: "\e617";
}

.zknicon-line:before {
  content: "\e6bb";
}

.zknicon-xianshiping:before {
  content: "\e610";
}

